@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500;1,700&display=swap');
*{
    box-sizing: border-box;
}
body{
    background: #181719;
    margin: 0;
    padding: 0;
    height: 1080px;
}
#navbar{
    width: 100%;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 40px;
    margin-top: 20px;
    position: relative;
}
.logo{
    width: 100px;
    height: 32px;
    border: 1px solid #FFFFFF;
    font-family: 'Crimson Pro';
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    background: transparent; 
    color: #ffff; 
    text-transform: uppercase;
    position: relative;
    left: 35px;
}
.navbar-toggle{
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    right: -10px;
    z-index: 5;
}
.icon-bar{
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: #ffff;
}
.navbar-menu{
   display: none; 
}
.navbar-links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 40%;
    padding-left: 0;
    position: relative;
    top: 155px;
}
.navbar-link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}
.navbar-item{
    display: flex;
    justify-content: space-between;
}
#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child{
    position: absolute;
    width: 30px;
}
#navbar.opened .navbar-toggle .icon-bar:first-child{
    transform: rotate(45deg);
}
#navbar.opened .navbar-toggle .icon-bar:nth-child(2){
    opacity: 0;
}
#navbar.opened .navbar-toggle .icon-bar:last-child{
    transform: rotate(-45deg);
}
#navbar.opened .navbar-menu{
    display: flex;
    position: absolute;
    top: -20px;
    left: -50px;
    width: 100vw;
    height: 100vh;
    background: #181719;
}

@media screen and (min-width:700px){
    .navbar-toggle{
        display: none;
    }
    #navbar.opened .navbar-menu{
        position: relative;
        top: -11px;
        left: 0;
        height: 10px;
        width: 52vw;
        right: 35px;
    }
    .navbar-menu{
        display: flex;
        width: 52vw;
        position: relative;
        right: 35px;
    }
    .navbar-links{
        flex-direction: row;
        top: 0;
    }
}
@media screen and (min-width:992px){
    .navbar-menu{
        right: 80px;
    }
}

@media screen and (min-width: 1199px){
    .navbar-menu{
        right: -36px;
    }
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 4ch;
    column-gap: 1rem;
    padding: 4em 2em;
    height: 500px;
}
.value-proposition{
    position: relative;
    left: 3em;
    height: 345px;
}
.value-proposition h1{
    font-family: 'Lora';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 61px;
    color: #FFFFFF;
    margin-top: 0;
}
.value-proposition article{
    width: 50ch;
}
.value-proposition article p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.value-proposition article a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 5px;
}
.value-proposition article.fa-arrow{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.hero{
    background: url("/photo1.png");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 530px;
   
}
.card{
    background: #181719;
    color: white;
    width: 57%;
    height: 42%;
    position: absolute;
    padding: 1em;
    bottom: -81px;
    right: 3em;
    z-index: 50;
}
.card img{
    width: 65px;
    border-radius: 50%;
    position: relative;
    left: 12px;
}
.card p{
    font-family: 'Lora';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    position: relative;
    top: 20px;
    left: 6px;
    width: 18ch;
    
}
.details{
    width: max-content;
    display: inline-block;
    position: relative;
    left: 12px;
    top: -21px;
}
.details .name{
    margin-bottom: 12px;
    
}
.details .occupation{
    position: relative;
    left: 7px;
    top: 10px;
}
